<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Guess</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to my website, {{name}}.</h1>
        <h2>According to my guess, Your age should be {{age}}.</h2>
        <h2>According to my guess, Your gender should be {{gender}}.</h2>
    </body>
</html>